
/*
override skeleton css here
*/

/*
textarea display size:
this css in skeleton overrides the rows html but not the cols
and despite being called min-height it prevents its max height increasing
   so we set it here
*/
textarea {
  min-height: 256px;
  padding-top: 6px;
  padding-bottom: 6px;
}
